body {
  background-color: #111;
  color: white;
  padding-top: 8%;
  position: relative;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

.top-menu {
  background-color: #000;
  padding: 15px 0;
}

.menu-link {
  text-decoration: none;
  color: #ccc;
  margin-right: 20px;
}

.menu-link:hover {
  color: white;
}

.menu-icon {
  color: #ccc;
  font-size: 18px;
}

.menu-icon:hover {
  color: white;
}

.section-title {
  border-left: 4px solid red;
  padding-left: 10px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.movie-card img {
  width: 100%;
  border-radius: 6px;
  transition: 0.3s;
}

.movie-card img:hover {
  transform: scale(1.05);
}

#loadMore {
  margin: 2rem 0;
}

.search-input {
  width: 0;
  opacity: 0;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  outline: none;
  padding: 4px 10px;
  transition: 0.4s ease;
  color: white;
}

.search-input.open {
  width: 200px;
  opacity: 1;
}

.search-input::placeholder {
  color: #ddd;
}

footer {
  background: #000;
  margin-top: auto;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(4px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 99;
}

/* Panel */
.filter-panel {
  position: fixed;
  top: 0;
  right: -350px;
  width: 350px;
  height: 100%;
  background: #181818;
  border-left: 2px solid #c00;
  padding: 20px;
  transition: 0.4s ease;
  z-index: 100;
  color: white;
}

.filter-panel.open {
  right: 0;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Header */
.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 32px;
  cursor: pointer;
}

.genre-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.genre-btn {
  padding: 8px 14px;
  background: #222;
  border: 1px solid #333;
  border-radius: 20px;
  font-size: 14px;
  color: #ddd;
  cursor: pointer;
  transition: 0.3s;
}

.genre-btn:hover {
  background: #c00;
  border-color: #c00;
  color: white;
}

.genre-btn.active {
  background: red;
  border-color: red;
  color: white;
}
